.popup{
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 25px;
}

.table{
    margin-top: 15px;
}

.floatLeft{
    float: left;
    
}

.floatRight{
    float: right;
}

.spaceBetween{
    justify-content: space-between;
}